APScheduler
ariadne
certifi
chardet
click
Flask
Flask-Cors
Flask-SQLAlchemy
graphql-core
idna
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
PyMySQL
python-dateutil
python-dotenv
pytz
requests
six
SQLAlchemy
SQLAlchemy-Utils
starlette
typing-extensions
tzlocal
urllib3
Werkzeug
scikit-learn
nltk
pandas
